body {
    font-family:'Courier New', Courier, monospace;
    min-height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.top-box {
    display: flex;
    height: 300px;
    background: #1F2937;
}

.header {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

.blurb {
    display: flex;
    flex-direction: column;
}

.img-one {
    height: 50px;
    width: 100px;
}

.box-two {
    height: 400px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: center;
}

.random { 
    padding: 9px;
}
.blue-box {
    height: 50px;
    width: 50px;
    background: blue;
}

.img-subtext {
    width: 150px;
}